#OS junk
[Tt]humbs.db
*.DS_Store

#local config
Makeconfig

#build output
evermizer
ow-patch
*.exe
*.js
*.wasm

#build temps
*.res
gen.h
gourds.h

#releases
old
rls
*.zip
#local/private scripts
release.sh
test-code.sh

#python cache
__pycache__
*.pyc
